@page
@model MIST353HW.Pages.Index1Model
@{
    ViewData["Title"] = "Data Display";
}


<h2>Data Display:</h2>
<h3>This page will display the data used to create the table on the homepage</h3>

<h2>County Search:</h2>
<h3>This displays the concept of a granular search function that views risk rating by county</h3>

